.container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  background: white;
  color: black;
  padding: 2rem 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.input {
  width: 100%;
}

.body {
  margin-bottom: 1rem;
}

.footer {
  text-align: right;
}