name: Build and Test Monorepo Packages
on: [push, pull_request]
jobs:
  Build-And-Test-Monorepo-Packages:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - name: Install dependencies and build packages
        run: |
          yarn
          yarn test
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
          name: Push coverage results
          fail_ci_if_error: true
          verbose: true
